body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

/* building tool */
.guide {
    border: 1px  solid red;
}

.header {
    background: #006729;
}

.text-green{
    color: #3A6731
}

.greyness{
    color: #707070
}

.greyness-button{
    border:1px solid #707070;
}

.hero {
    height: 150px;
    display: flex;
}

.header-text {
    font-size: small;
}

.sidebar {
    position: sticky;
    height: auto;
    width: 100%;
}

input { 
        border: none;
        border-bottom: 2px solid #EFEFEF;
}

#ramo, #poliza, #cert {
    width: 30%;
}

#siniestro-nr {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 20px;
}
.title2 {
    font-weight: bold;
    font-size: 25px;
}

.btn-hdi{
    background-color: #006729;
}

.btn-consultar {
    color: white;
    background-color: #006729;
}

btn-hdi2 {
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 15px;
    background: #006729;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    /* position: relative; */
    text-align: center;
    width: calc(100% - 50px);
    display: block;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.btn-primary1 {
    background-color: #006729;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 40px;
}
span {
    padding-left: 25px;
    padding-right: 25px;
    }

.btn-1 {
    background-color: #79B530;
    font-size: 20px;
    padding: 15px 22px;
    }

.down-box{
    height: 300px;
}

.up-box {
    height: 350px;
}

.smallf {
    font-size: 12px;
}

#botonhdi {
    width: 100%;
}

@media (min-width: 576px) {
    .border-sm-top {
      border-top: 1px solid #e3e7eb !important;
    }
    .border-sm-right {
      border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-bottom {
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-sm-left {
      border-left: 1px solid #e3e7eb !important;
    }
    .border-sm-top-0 {
      border-top: 0 !important;
    }
    .border-sm-right-0 {
      border-right: 0 !important;
    }
    .border-sm-bottom-0 {
      border-bottom: 0 !important;
    }
    .border-sm-left-0 {
      border-left: 0 !important;
    }
    .border-sm-x {
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-y {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-sm {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
  
  @media (min-width: 768px) {
    .border-md-top {
      border-top: 1px solid #e3e7eb !important;
    }
    .border-md-right {
      border-right: 1px solid #6C6F70!important;
    }
    .border-md-bottom {
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-md-left {
      border-left: 1px solid #e3e7eb !important;
    }
    .border-md-top-0 {
      border-top: 0 !important;
    }
    .border-md-right-0 {
      border-right: 0 !important;
    }
    .border-md-bottom-0 {
      border-bottom: 0 !important;
    }
    .border-md-left-0 {
      border-left: 0 !important;
    }
    .border-md-x {
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-md-y {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-md {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-md-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
  
  @media (min-width: 992px) {
    .border-lg-top {
      border-top: 1px solid #e3e7eb !important;
    }
    .border-lg-right {
      border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-bottom {
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-lg-left {
      border-left: 1px solid #e3e7eb !important;
    }
    .border-lg-top-0 {
      border-top: 0 !important;
    }
    .border-lg-right-0 {
      border-right: 0 !important;
    }
    .border-lg-bottom-0 {
      border-bottom: 0 !important;
    }
    .border-lg-left-0 {
      border-left: 0 !important;
    }
    .border-lg-x {
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-y {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-lg {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
  
  @media (min-width: 1200px) {
    .border-xl-top {
      border-top: 1px solid #e3e7eb !important;
    }
    .border-xl-right {
      border-right: 1px solid #e3e7eb !important;
    }
    .border-xl-bottom {
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-xl-left {
      border-left: 1px solid #e3e7eb !important;
    }
    .border-xl-top-0 {
      border-top: 0 !important;
    }
    .border-xl-right-0 {
      border-right: 0 !important;
    }
    .border-xl-bottom-0 {
      border-bottom: 0 !important;
    }
    .border-xl-left-0 {
      border-left: 0 !important;
    }
    .border-xl-x {
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-xl-y {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-xl {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
.border-xl-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    }
}

.imgHeader {
    width: 100%;
    height: auto;
}  