body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

/* building tool */
.guide {
    border: 1px  solid red;
}

.header {
    background: #006729;
}

.text-green{
    color: #3A6731
}

.greyness{
    color: #707070
}

.greyness-button{
    border:1px solid #707070;
}

.hero {
    height: 150px;
    display: flex;
}

.header-text {
    font-size: small;
}

.sidebar {
    position: sticky;
    height: auto;
    width: 100%;
}

input { 
        border: none;
        border-bottom: 2px solid #EFEFEF;
}

#ramo, #poliza, #cert {
    width: 30%;
}

#siniestro-nr {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 20px;
}
.title2 {
    font-weight: bold;
    font-size: 25px;
}

.btn-hdi{
    background-color: #006729;
}

.btn-consultar {
    color: white;
    background-color: #006729;
}

btn-hdi2 {
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 15px;
    background: #006729;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    /* position: relative; */
    text-align: center;
    width: calc(100% - 50px);
    display: block;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.btn-primary1 {
    background-color: #006729;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 40px;
}
span {
    padding-left: 25px;
    padding-right: 25px;
    }

.btn-1 {
    background-color: #79B530;
    font-size: 20px;
    padding: 15px 22px;
    }

.down-box{
    height: 300px;
}

.up-box {
    height: 350px;
}

.smallf {
    font-size: 12px;
}

#botonhdi {
    width: 100%;
}